<!DOCTYPE html>
<html>
  <head>
    <title>Nuus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-glyphicons.css') }}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-static-top">
        <a class="navbar-brand" href="#">Nuus</a>
        <ul class="nav navbar-nav">
          {% set active_nav = active_nav|default('index') -%}
          <li{% if active_nav == 'index' %}  class="active"{% endif %}><a href="{{ url_for('nuus.index') }}">Home</a></li>
          <li{% if active_nav == 'debug' %} class="active"{% endif %}><a href="{{ url_for('debug.list_pages') }}">Debug</a></li>
        </ul>
        <ul class="pull-right nav navbar-nav">
          {% if not user %}
          <li><a data-toggle="modal" href="#signInModal">Sign In</a></li>
          {% else %}
          <li><a data-toggle="modal" href="#optionsModal"><span class="glyphicon glyphicon-cog"></span></a></li>
          <li><a data-toggle="modal" href="{{ url_for('nuus.logout') }}"><span class="glyphicon glyphicon-off"></span></a></li>
          {% endif %}
        </ul>
      </div>
      <div class="alerts">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% for cat,msg in messages %}
      <div class="alert alert-{{ cat }}">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	{{ msg }}
      </div>
      {% endfor %}
      {% endwith %}
      </div>
      {% block content %}
      {% endblock content %}
    </div>
    {% if user %}
    <div class="modal fade" id="optionsModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Options</h4>
          </div>
          <form id="optionsForm" method="post">
            <div class="modal-body">
              <div class="form-group">
                <label for="inputHost">Sabnzbd host URL</label>
                <input type="text" class="form-control" name="sabnzbd_host" id="inputHost" placeholder="URL..." value="{{ user.sabnzbd_host }}">
              </div>
              <div class="form-group">
                <label for="inputAPIKey">Sabnzbd API Key</label>
                <input type="text" class="form-control" name="sabnzbd_apikey" id="inputAPIKey" placeholder="API Key..."{% if user.sabnzbd_apikey %} value="{{ user.sabnzbd_apikey }}"{% endif %}>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% else %}
    <div class="modal fade" id="signInModal" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Sign In</h4>
          </div>
          <form id="signInForm" method="post">
            <div class="modal-body">
              <div class="form-group">
                <label for="inputUsername">Username address</label>
                <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Username...">
              </div>
              <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password...">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/jquery.bootstrap-growl.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nuus.js') }}"></script>
    <script type="text/javascript">
      {% if not user %}
      $(function() { $("#signInModal").modal('show'); });
      {% else %}
      sabnzbd = {
      host: "{{ user.sabnzbd_host }}",
      apikey: "{{ user.sabnzbd_apikey }}"
      };
      {% endif %}
    </script>
  </body>
</html>
