{% extends 'base.html' %}
{% block content %}
  <form class="form-inline">
    <div class="col-lg-11">
      <input type="text" class="form-control" name="query" placeholder="Search..."{% if query %} value="{{ query }}"{% endif %}/>
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>

  {% if results %}
  <p></p>
  <div class="text-right"><small>{% if offset > 1 %}<a href="{{ url_for('.index', query=query, offset=offset-(results|count),limit=(results|count)) }}">&laquo;</a> {% endif %}showing {{ offset+1 }} - {{ offset + (results|count) }} of {{ total_results }} results{% if offset + (results|count) < total_results %} <a href="{{ url_for('.index', query=query, offset=offset+(results|count),limit=(results|count)) }}">&raquo;</a>{% endif %}</small></div>
  <table class="table table-hover table-condenced">
    <thead><td>Name</td><td></td><td>Files</td><td>Size</td><td>Group(s)</td><td>Age</td></thead>
    {% for r in results %}
    <tr>
      <td><small><b>{{ r.name }}</b></small></td>
      <td style="width: 55px;">
        <a data-toggle="tooltip" title="download nzb" href="{{ url_for('.get_nzb', release_id=r.id) }}"><i class="glyphicon glyphicon-download"></i></a>
        {% if user.sabnzbd_apikey %}
        <a data-toggle="tooltip" title="send to sabnzbd" href="#" data-nzbname="{{ r.name }}" data-name="{{ url_for('.get_nzb', release_id=r.id,_external=True) }}"><img src="{{ url_for('static', filename='vendor/sabnzbd/download.png') }}"></i></a>
        {% endif %}
      </td>
      <td>
        <small style="color: #3da233">{{ r.file_count }} Files</small><small style="color: #e2a910">{% if r.nfo_file_id %} | 1 NFO{% endif %}{% if r.archive_file_count %} | {{ r.archive_file_count }} ARCHIVE{% endif %}{% if r.par2_file_count %} | {{ r.par2_file_count }} PAR2{% endif %}{% if r.nzb_file_id %} | 1 NZB{% endif %}</small>
      </td>
      <td><small>{{ r.size }}</small></td>
      <td><small>{% for g in r.groups %}{{ g }}{% if not loop.last %}, {% endif %}{% endfor %}</small></td>
      <td><small>{{ r.age }}</small></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
{% endblock %}
